*{
    /* background: #0000 !important; */
}
/* .I3EivnXTjYMpSbPUiYEg{
    background: #0000 !important;
} */
.QuHe04rU4bj0Z5U9E2Tk{ 
  /* HOME / SEARCH */
  display: none !important;
}
.EZFyDnuQnx5hw78phLqP .hjb8tUL3rpUa0ez4ZtAj{
  /* RESTORE LIBRARY */
  display: unset !important;
}

/* GENERAL */
.encore-dark-theme, .encore-dark-theme .encore-base-set {
  --background-base: #0000
}

.ZQftYELq0aOsg6tPbVbV{
  background: #0000 !important;
}


/* PLAYLIST HEADERS? */
.HsbczDqu9qjcYr7EIdHR{
  background: #0000 !important;
  /* display:none; */
}
.gHImFiUWOg93pvTefeAD{
  background: #0000 !important;
  display:none;
}
.CoLO4pdSl8LGWyVZA00t{
  background: #0000 !important;
  display: none;
}
.main-view-container__mh-footer-container{
  background: #0000 !important;
  display: none;
}
.under-main-view{
  background: #0000 !important;
  display: none;
}
/* SEARCH (role=search?? */
.JzZyf6OGCGtdscOZGt8Y{
  width: 50px;
  height: 50px;
}

/* PLAYLIST TOP BAR */
/* HAS TEST ID topbar */
.facDIsOQo9q7kiWc4jSg{
  background: #0000 !important;
}


/* ALBUMS */
.LunqxlFIupJw_Dkx6mNx{
  background-color: #0003 !important;
}

/* ALBUM/ARTIST INFO CARDS */
.Ai_McRq9wJEYK21w8nX_{
  background: #0003 !important;
}
.QkOkUShDYWFx5Cz40Bcn{
  background: #0003 !important;
}

footer{
  display: none !important;
}

/* Hide signup / pay features */

#sign-up-section{
  display: none !important;
}
#account-settings-link{
  display: none !important;
}
.ERyo7m5f00o7ToFdGMCD ul li:first-child{
  display: none !important;
}
.miG_SXrw265mkozdEHrJ{
  display: none !important;
}
.LKFFk88SIRC9QKKUWR5u button:first-child{
  display: none !important;
}
.spotify-logo{
  display: none !important;
}
._xkt a{
  display: none !important;
}
.signup_box_content{
  display: none !important;
}
.loggedout_menubar{
  display: none !important;
}

/* Hide data-tippy-root */
[data-tippy-root]{
  display: none !important;
}