*{
    background: #0000 !important;
}
.I3EivnXTjYMpSbPUiYEg{
    background: #0000 !important;
}
.QuHe04rU4bj0Z5U9E2Tk{
  display: none !important;
}
.EZFyDnuQnx5hw78phLqP .hjb8tUL3rpUa0ez4ZtAj{
  display: unset !important;
}

.encore-dark-theme, .encore-dark-theme .encore-base-set {
  --background-base: #0000
}

.ZQftYELq0aOsg6tPbVbV{
  background: #0000 !important;
}