*{
    /* background: #0000 !important; */
}
/* .I3EivnXTjYMpSbPUiYEg{
    background: #0000 !important;
} */
.QuHe04rU4bj0Z5U9E2Tk{ 
  /* HOME / SEARCH */
  display: none !important;
}
.EZFyDnuQnx5hw78phLqP .hjb8tUL3rpUa0ez4ZtAj{
  /* RESTORE LIBRARY */
  display: unset !important;
}

.encore-dark-theme, .encore-dark-theme .encore-base-set {
  --background-base: #0000
}

.ZQftYELq0aOsg6tPbVbV{
  background: #0000 !important;
}

.HsbczDqu9qjcYr7EIdHR{
  background: #0000 !important;
  display:none;
}

.gHImFiUWOg93pvTefeAD{
  background: #0000 !important;
  display:none;
}
.CoLO4pdSl8LGWyVZA00t{
  display: none;;
}